.App {
   text-align: center;
}

/* Estilo para el contenedor principal que tendrá la imagen de fondo */
.app-container {
   background-image: url('./Imagenes/fondo3.jpg');
   background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el contenedor */
   background-position: center; /* Centra la imagen de fondo horizontal y verticalmente */
   min-height: 100vh; /* Establece una altura mínima para el contenedor principal (tamaño de la ventana del navegador) */
 }

 .imagenEntrada{
   width: 300px;
   text-align: center;
   background-position: center;
 }
